# This file should be identical to requirements.txt, except without the
# scraperwiki requirement.
#
# If the scraperwiki library is installed on ScraperWiki itself, the database is
# stored someplace unexpected and ScraperWiki thinks that the database is empty.
#
# It would be better to list common dependencies in one file and include them in
# other requirements files with the "-r filename.txt" directive, but morph.io
# doesn't support "-r" in requirements files.

bleach
beautifulsoup4
lxml
python-dateutil
regex
requests
