# Global requirements (see comment in requirements-scraperwiki.txt)
bleach
beautifulsoup4
lxml
python-dateutil
regex
requests

# Needed everywhere but ScraperWiki
-e git+http://github.com/openaustralia/scraperwiki-python.git@morph_defaults#egg=scraperwiki
